html {
  font-family: "Open Sans", sans-serif;
}
body {
  background: #cee4f2;
}
.btn-custom {
  background-color: #bf964b;
}
.card-title {
  background-color: #bf964b;
}

@media (min-width: 768px) {
  .h-md-100 {
    height: 100vh;
  }
}
.btn-round {
  border-radius: 30px;
}
.bg-left {
  background: #405b73;
}
.text-cyan {
  color: #35bdff;
}
.bg-right {
  background: #cee4f2;
}
form {
  color: black;
}
thead {
  background-color: #bf964b;
  font-size: 24px;
}
.table {
text-align: center;
}
